<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}})</p>
<p>Caso você não tenha solicitado, troque sua senha imediatamente</p>

<p>Para continuar com a recuperação de senha, utilize o token {{token}} ou clique no link abaixo</p>

<a href="{{link}}"> Criar nova senha</a>
