$colorPrim1: #3bb9e3;
$colorSec1: #fff;
$colorSec2: #e6ecf0;
$colorSec3: #f5f8fa;
$colorSec4: #d0d5d9;
$colorText1: #fff;
$colorText2: #667581;
$colorText3: #1f2226;
$colorText4: #53626c;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  outline: 0;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  background: $colorSec2;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.banner {
  height: 380px;
  width: 100%;
  background: $colorPrim1;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $colorText1;
    font-weight: normal;
  }
}
.wrapper-container {
  display: flex;
}
